* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

/* HEADER */

body {
    background-color: #ece9e9;
}

.header {
    width: 100vw;
    height: 100vh;
    background-color: rgb(1, 43, 43);
    color: #fff;
}

.hero {
    padding: 10px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav img {
    width: 100px;
    height: 50px;
} 

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: rgb(15, 204, 204);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

.hero-text {
    margin-top: 20%;
    font-size: 30px;
}

.hero-text h1 span {
    color: rgb(15, 204, 204);
}

/* ABOUT */

.about {
    width: 100%;
    height: 80vh;
    padding: 50px;
}

.sub-title {
    font-size: 50px;
    text-align: center;
    color: rgb(1, 43, 43);
}

.about p {
    font-size: 15px;
    text-align: justify;
    color: rgb(1, 43, 43);
    padding: 10px;
}

/* TAB-TITLES */

.section {
    width: 100%;
    height: 60vh;
    background-color: rgb(1, 43, 43);
    color: #fff;
}
.tab-titles {
        display: flex;
        padding-left: 50px;
        margin: 20px 0 40px;
}

.tab-links {
    font-weight: 500;
    font-size: 18px;
    margin-right: 50px;
    margin-top: 50px;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: rgb(15, 204, 204);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 100%;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 50px;
    font-size: 16px;
}

.tab-contents ul li span {
    color: rgb(15, 204, 204);
    font-size: 14px;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

/* SERVICES */

#services {
    width: 100%;
    height: 80vh;
    padding: 30px 10px;
}

.service-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 20px;
    margin-top: 50px;
}

.service-list div {
    background: rgb(15, 204, 204);
    color: rgb(1, 43, 43);
    font-size: 13px;
    font-weight: 300;
    border-radius: 30px;
    padding: 20px;
    text-align: justify;
}

.service-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.service-list div a {
    text-decoration: none;
    color: rgb(1, 204, 204);
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
    border: 1px solid rgb(1, 43, 43);
    background-color: rgb(1, 43, 43);
    padding: 10px;
    border-radius: 5px;
    align-items: center;
}

/* || CONTACT */
.contain {
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact {
    margin-left: 50px;
    padding: 20px;
    font-size: 15px;
    color: rgb(1, 43, 43);
    width: 30%;
    height: auto;
    background-color: rgb(15, 204, 204);
    border-radius: 5px;
}

.contact h2 {
    font-size: 20px;
    text-align: center;
}

.contact fieldset {
    border: none;
}

.contact p {
    margin-top: 10px;
}

.contact label {
    display: block;
    font-weight: bold;
}

.contact input, textarea {
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #000;
    margin: 10px 0px;
    background-color: rgba(1, 27, 27, 0.1);
}

.contact button {
    font-size: 12px;
    padding: 10px 15px;
    border-radius: 10px;
    background-color: rgb(1, 43, 43);
    color: rgb(15, 204, 204);
}

.center {
    padding: 20px;
    text-align: center;
}

.center a {
    font-size: 15px;
    color: rgb(1, 43, 43);
    text-decoration: none;
}

.footer {
    background-color: rgb(1, 43, 43);
    color: #fff;
    padding: 10px;
    text-align: center;
}

.footer ul li {
    padding: 0px;
}


footer img {
    width: 50px;
    height: 40px;
    border-radius: 50%;
    padding: 0;
}

.nowrap {
    font-size: 15px;
}

